[user]
  email = madhankumaravelu93@gmail.com
  name = Madhan
[core]
  autocrlf = input
  editor = nvim
  pager = delta
[interactive]
  diffFilter = delta --color-only
[delta]
  navigate = true
  light = false
  line-numbers = true
  side-by-side = true
  syntax-theme = Catppuccin-mocha
[push]
  default = current
[pull]
  default = current
  rebase = true
[merge]
  stat = true
  conflictstyle = diff3
[rebase]
  autosquash = true
[init]
  defaultBranch = main
[alias]
  b = branch
  co = checkout
  d = diff
  ds = diff --staged
  f = fetch
  st = status
  sw = switch
  lo = log --oneline --graph --decorate
  undo = reset --soft HEAD~1
  aliases = config --get-regexp alias
[credential "https://github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
